<h1>Listing stresses</h1>

<table>
  <thead>
    <tr>
      <th>Integer</th>
      <th>Datetime</th>
      <th>Datetime</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stresses.each do |stress| %>
      <tr>
        <td><%= stress.integer %></td>
        <td><%= stress.datetime %></td>
        <td><%= stress.datetime %></td>
        <td><%= link_to 'Show', stress %></td>
        <td><%= link_to 'Edit', edit_stress_path(stress) %></td>
        <td><%= link_to 'Destroy', stress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stress', new_stress_path %>
