<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @stress.integer %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @stress.datetime %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @stress.datetime %>
</p>

<%= link_to 'Edit', edit_stress_path(@stress) %> |
<%= link_to 'Back', stresses_path %>
