<script>
  $(function() {
      var faye = new Faye.Client('http://codoscopy.com:9292/faye');
      faye.subscribe('/hearts/new', appendHeart);
      faye.subscribe('/sleeps/new', appendSleep);
      faye.subscribe('/steps/new', appendStep);
  });

  function appendHeart(heart) {
    var bpm = "<td>" + heart.bpm + "</td>",
    so2_sat = "<td>" + heart.so2_sat / 10 + "</td>",
    end = "<td>" + heart.end_time + "</td>",
    start = "<td>" + heart.start_time + "</td>",
    stress = "<td>" + heart.stress_level + "</td>",
    row = "<tr>" + start + end + bpm + so2_sat + stress + "</tr>";
    $('table.hearts tbody tr:first').before(row);
//    $('table.hearts tbody tr:last').remove();
    $('.bpm').text(heart.bpm);
    $('.so2').html((heart.so2_sat / 10) + '<small class="super-script">%</small>');
    $('.stress').text(heart.stress_level);
  }

  function appendSleep(sleep) {
    $('.sleep').text(sleep.index);
  }

  function appendStep(step) {
    var amount = "<td>" + step.amount + "</td>",
    end = "<td>" + step.end_time + "</td>",
    start = "<td>" + step.start_time + "</td>",
    row = "<tr>" + start + end + amount + "</tr>",
    steps = $('.jumbotron .steps');

    $('table.steps tbody tr:first').before(row);
 //   $('table.steps tbody tr:last').remove();
    steps.text(parseInt(steps.text(), 10) + step.amount);
  }
</script>

<div class="jumbotron row-fluid">
  <div class="container row-fluid">
    <div class="span4">
      <h1 class="bpm"><%= @heart_data.first.try(:bpm) || 0 %></h1></br>
      <h3 class="muted">bpm</h3>
    </div>
    <div class="span4">
      <h1 class="so2">
        <%= @heart_data.first.try(:so2_sat).to_i / 10 || 0 %><small class="super-script">%</small>
      </h1>
      </br>
      <h3 class="muted">so2 sat</h3>
    </div>
    <div class="span4">
      <h1 class="stress"><%= @heart_data.first.try(:stress_level) || 0 %></h1></br>
      <h3 class="muted">stress level</h3>
    </div>
  </div>
  <div class="container row-fluid">
    <div class="span6">
      <h1 class="steps"><%= @steps.pluck(:amount).inject(&:+) || 0  %></h1></br>
      <h3 class="muted">steps</h3>
    </div> 
    <div class="span6">
      <h1 class="sleep"><%= @sleep.try(:index) || 0  %></h1></br>
      <h3 class="muted">sleep index</h3>
    </div>
  </div>
</div>

<div class="container row-fluid">
  <table class="hearts table table-bordered span6">
    <thead>
      <tr>
        <th>Start time</th>
        <th>End time</th>
        <th>Bpm</th>
        <th>So2 sat</th>
        <th>stress level</th>
      </tr>
    </thead>

    <tbody>
    <% @heart_data.each do |heart| %>
      <tr>
      <td><%= heart.start_time %></td>
      <td><%= heart.end_time %></td>
      <td><%= heart.bpm || 0 %></td>
      <td><%= heart.so2_sat.to_i / 10 || 0 %></td>
      <td><%= heart.stress_level || 0 %></td>
    </tr>
  <% end %>
    </tbody>
  </table>

  <table class="steps table table-bordered span6">
    <thead>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    <% @steps.each do |step| %>
      <tr>
      <td><%= step.start_time || 0 %></td>
      <td><%= step.end_time || 0 %></td>
      <td><%= step.amount || 0 %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
