<h1>Listing pulse/so2 sat</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Bpm</th>
      <th>So2 sat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @heart_data.each do |heart| %>
      <tr>
        <td><%= heart.start_time %></td>
        <td><%= heart.end_time %></td>
        <td><%= heart.bpm %></td>
        <td><%= heart.so2_sat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heart', new_heart_path %>
