<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @sleep.index %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @sleep.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @sleep.end_time %>
</p>

<%= link_to 'Edit', edit_sleep_path(@sleep) %> |
<%= link_to 'Back', sleeps_path %>
