<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @sleep.integer %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @sleep.datetime %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @sleep.datetime %>
</p>

<%= link_to 'Edit', edit_sleep_path(@sleep) %> |
<%= link_to 'Back', sleeps_path %>
