<!DOCTYPE html>
<html>
<head>
  <title>Babbitt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "http://codoscopy.com:9292/faye.js", "data-turbolinks-track" => true %>
<!-- fix this later -->
  <%#= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "Saha", "index.html", :class => "brand" %>
        <ul class="nav">
          <li class="Analytics"><%= link_to :analytics, analytics_path %></li>
          <li class="Logs"><%= link_to :logs, logs_path %></li>
          <li class="Documents"><%= link_to :documents, documents_path %></li>
          <li class="Slides"><%= link_to :slides, slides_path %></li>
          <li class="References"><%= link_to :references, references_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
