<!DOCTYPE html>
<html>
<head>
  <title>Babbitt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<!-- fix this later -->
  <%#= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "Saha", "index.html", :class => "brand" %>
        <ul class="nav">
          <li class="Saha"><%= link_to "Home", "index.html" %></li>
          <li class="Logs"><%= link_to "Logs", "logs.html" %></li>
          <li class="Docs"><%= link_to "Docs", "documents.html" %></li>
          <li class="Slides"><%= link_to "Slides", "slides.html" %></li>            
          <li class="Refs"><%= link_to "References", "references.html" %></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
